Lists are ordered objects

In [2]:
customerName = ['Marion Weaver', 'Alberto Mendoza', 'Katharine Tyler', 'Isaac Steele']
print(customerName)

['Marion Weaver', 'Alberto Mendoza', 'Katharine Tyler', 'Isaac Steele']

In [4]:
# assign the value 'Marianne Weaver' to the first name in our list
# it is index 0, because indices start at 0 in python!
customerName[0] = 'Marianne Weaver'

In [5]:
# -1 means last item
# print the last item
print(customerName[-1])

# access the second item to the 3rd
print(customerName[1:3])

# access all items from the beginning to the second
print(customerName[:2])

Isaac Steele
['Alberto Mendoza', 'Katharine Tyler']
['Marianne Weaver', 'Alberto Mendoza']

In [6]:
amountAccount = [10000, 150, 300, 1800.74]

In [7]:
strangeList = [4, 10.2, 'Marion Weaver', ['another list', 1]]

# print the 4th item of the list
print(strangeList[3])

['another list', 1]

In [8]:
strangeList = [4, 10.2, 'Marion Weaver', ['another list', 1]]

# print the 4th item of the list
print(strangeList[3])

['another list', 1]

### Exercise 1

Declare a colors list containing five items: red, yellow, orange, green, and blue.

In [9]:
colors = ['red', 'yellow', 'orange', 'green', 'blue']

#replace green with emerald 

colors[colors.index('green')] = 'emerald'

for color in colors :
    print(color)

red
yellow
orange
emerald
blue

### **List Methods**

In [11]:
#Add 
list = []
list.append(7)
list.append(5)
print(list) # => [7, 5]

[7, 5]

**insert**  to insert a new item at a specific position. For example,   list.insert(1, 12)  will insert the integer 12 at index 1, moving the old item 1 to index 2 and so on.

**extend** :  similar to append, but with another list. This allows you to concatenate several lists together.

**remove** : searches for the given item in the list and deletes the first occurrence. For example, if you want to delete 5 from your list, you can use :  list.remove(5) .

**index** : this method lets you find the index of the first occurrence of an item to be searched for in our list;

Keyword  **del**  to delete an item according to its index.

In [13]:
list = []
list.append(7) # -> [7]
list.append(5) # -> [7, 5]

list.insert(1,12) # [7, 12, 5]


list[0] = 4 # -> [4, 12, 5]
list.remove(12) # [4, 5]
list.index(5) # prints 1
list.extend([1, 2, 3]) # [4, 5, 1, 2, 3]
del list[3] # [4, 5, 1, 3]

In [14]:
list = [1, 2, 3]
len(list) # will print 3

3

### Exercise 2

In [21]:
guests = []

#Add 3 guests: Joey, Martin, and Mary

guests.append('Joey')
guests.append('Martin')
guests.append('Mary')

#Size of List
print(len(guests))

#Replace Martin with John
guests[guests.index('Martin')] = 'John'

#remove Joey
guests.remove('Joey')

#Print contents 
for guest in guests:
    print(guest)

3
John
Mary

# Dictionaries 

### list of items orgainzed via system of keys
### key-value pairs (Unique Keys)

In [22]:
accounts = {'Marion Weaver': 10000, 'Alberto Mendoza': 150, 'Katharine Tyler': 300, 'Isaac Steele': 1800.74}
print(accounts['Alberto Mendoza']) # -> 150

150

#### Dictionary manipulation
#### Access
#### Add
#### Delete by **pop()**

In [23]:
accounts['Marion Weaver'] -= 2000 # I subtract 2000 from David's account
accounts['Kristian Roach'] = 1000 # I add a new individual in my dictionary
print(accounts['Kristian Roach']) # I print the value of Kristian's account

1000

In [30]:
print(accounts)

{'Marion Weaver': 8000, 'Katharine Tyler': 300, 'Isaac Steele': 1800.74, 'Kristian Roach': 1000}

In [31]:
len(accounts) # -> 4

4

print(accounts)

# Immutable Tuples

Ordered objects
Once tuples are declared, they cannot bee modified. Immutable

In [32]:
my_tuple = (1, 2, 3, 'a', 'b')

In [33]:
print(my_tuple[1]) # -> 2
print(my_tuple[4]) # -> 'b'

2
b

In [34]:
a, b = (1, 'apple')
print(a) # -> 1
print(b) # -> 'apple'

1
apple